﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="head">
        <img src="Images/oi.jpg" />
        
    </div>
    <!doctype html>
    </body>
    </html>

    <html lang=''>

    <head>

        <meta charset='utf-8'>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="styles.css">

        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript">
        </script>

        <script src="script.js">
        </script>

        <title>CSS MenuMaker</title>

    </head>

    <body>

        <div id='cssmenu'>
            <ul>

                
                <li><a href="http://localhost:3415/"><span>Home</span></a></li>

                <li class='has-sub'>
                    <a href='Default/Tin'>
                        <span>Tin tức</span></a>

                </li>
                

                <li class='has-sub'>
                    <a href='Default/Video'>
                        <span>Video</span></a>

                </li>

              

                <li class='last'>
                    <a href='~/Default/Forum'>
                        <span>Diễn đàn</span>
                    </a>
                </li>
            </ul>
        </div>
        
            <div class="content-right">
                <img src="Images/h.jpg" />
            </div>
       
            
           

    <div>
        @RenderBody()
    </div>
        <div class="content-bottom">
           
        </div>
        <div class="footer">
           <h2>Thỏa niểm đam mê bóng đá</h2>
        </div>
</body>
</html>
