﻿@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2></h2>
<div class="main">
    <div class="item">
        <div class="box-img">
            <img src="Images/c.jpg" />
        </div>
        <a href="~/Default/VN" target="_blank">Bàn thắng muộn của Công Vinh</a>
    </div>
    <div class="item">
        <div class="box-img">
            <img src="Images/d.jpg" />
        </div>
        <a href="~/Default/Tin1" target="_blank">Tuổi thơ của CR7</a>
     
    </div>
    <div class="item">
        <div class="box-img">
            <img src="Images/g.jpg" />
        </div>
        <a href="~/Default/Tin2" target="_blank">Tài năng trẻ của MU</a>
        
    </div>
    <div class="item">
        <div class="box-img">
            <img src="Images/index.jpg" />
        </div>
        <a href="~/Default" target="_blank">Thời gian chuẩn bị của V-league</a>
        
    </div>
    <div class="item">
        <div class="box-img">
            <img src="Images/indexk.jpg" />
        </div>
        <a href="~/Default" target="_blank">World cup ở Brazil...</a>
       
    </div>
    <div class="item">
        <div class="box-img">
            <img src="Images/jjj.jpg" />
        </div>
        <a href="~/Default" target="_blank">Chiến thắng nhẹ nhàng của Bacar</a>
        
    </div>

</div>
        