﻿@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Forum</h1>
<div class="forum">
    <div class="forum-box">
        <h3>#1: Bàn luận về trận đấu giữa Việt Nam vs Malaysia</h3>
    </div>
    <div class="forum-box">
        <h3>#2: Cùng soi kèo trận cầu đinh giữa MU vs Liverpool (14-12-2014)</h3>
    </div>
    <div class="forum-box">
        <h3>#3: Phong cách ăn mặc của Mourinho qua từng trận đấu như thế nào?</h3>
    </div>
    <div class="forum-box">
        <h3>#4: Bình chọn của bạn cho danh hiệu Quả bóng vàng thế giới là ai?</h3>
    </div>
  
</div>
