﻿@{
    ViewBag.Title = "Tin";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Tin</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/f.jpg" />
        
    </div>
        <div class="detail">
            <h4>
                Tuổi thơ của CR7...
            </h4>

        </div>
  
</div>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/a.jpg" />
    </div>
    <div class="detail">

        <h3> Tài năng trẻ của MU...</h3>
        
        
    </div>
</div>

