﻿@{
    ViewBag.Title = "Tin1";
    Layout = "~/Views/Shared/Default.cshtml";
}
<h1>Tin Tức</h1>
<h2>Tuổi thơ của CR7</h2>

<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/f.jpg" />
        
    </div>
        <div class="detail">
            <h4>
                Để đoạt danh hiệu Quả bóng vàng lần thứ 2, Cristiano Ronaldo đã trải qua 1 chặng đường dài và đầy gian khổ để trở thành 1 trong số những cầu thủ xuất sắc nhất thế giới.

Sinh ra trong 1 gia đình nghèo khó ở hòn đảo Santo Antonio, Madeira, Bồ Đào Nha, tuổi thơ của Ronaldo đã trải qua là không hề dễ dàng. Là người con thứ 4 của cặp vợ chồng Dolores và Dinis, nhưng sự ra đời của Ronaldo là không hề mong đợi của họ. Mẹ của anh là 1 đầu bếp, trong khi cha anh là 1 người làm vườn và đã qua đời vào năm 2005 sau quãng thời gian dài chống chọi lại căn bệnh nghiện rượu.

Cristiano do mẹ của anh đặt, trong khi Ronaldo là do cha của anh đặt vì quá hâm mộ Tổng thống Mỹ lúc bấy giờ là Ronald Reagan, và Ronaldo nhanh chóng bộc lộ niềm đam mê mãnh liệt với bóng đá ngay từ khi còn rất nhỏ. Francisco Afonso, giáo viên tiểu học và là người huấn luyện đầu tiên của Ronaldo, ngay lập tức phát hiện ra được tài năng chơi bóng thiên bẩm của cậu bé. “Ngay từ đầu, cậu ấy đã tỏ ra rất đặc biệt”, ông kể lại, “cậu ấy nhỏ bé nhưng luôn tỏ ra quyết tâm. Lúc mới chơi bóng, cậu ấy đá ở vị trí hậu vệ nhưng nhanh chóng di chuyển lên phía trên sân, bởi vì cậu ấy muốn tham gia trong mọi tình huống. Cậu ấy chơi tốt cả 2 chân và rất nhanh, đầy kỹ thuật bởi vì không bao giờ ngưng tập luyện. Nếu không được chơi bóng, cậu ấy không thể chịu đựng nổi. Rui Alves, người bạn thân thời thơ ấu của Ronaldo, nói rằng bạn của anh lúc nào cũng chỉ muốn chơi bóng đá. “Chúng tôi thường đi ra ngoài và chơi cả ngày, nhưng Cristiano thì luôn muốn chơi bóng đá”, anh kể lại, “tôi đã rất cố gắng để dụ cậu ấy chơi trò chơi khác nhưng bất thành”.

Tại CLB đầu tiên của mình là Andorinha, Ronaldo lập tức để lại dấu ấn. Một cựu đồng đội của ngôi sao người Bồ kể lại: “Cậu ấy luôn muốn xuất sắc hơn những người khác. Thậm chí khi tuổi còn nhỏ như vậy nhưng khi không có bóng, cậu ấy sẽ buồn và khi để mất bóng, cậu ấy thường khóc”. Kỷ niệm đáng nhớ của Ronaldo với Andorinha là lập cú hattrick trong hiệp 1 để giúp CLB dẫn trước 3-0 nhưng đổi lại, anh bị chấn thương ở đầu và được chở thẳng đến bệnh viện bằng chiếc xe bò. Khi trở lại với vết thương băng bó, Ronaldo rất thất vọng khi đội bóng của anh bị đối thủ lật ngược tình thế và thắng lợi 4-3.
Danh tiếng của Ronaldo ngày càng vang xa và anh nhanh chóng được CLB lớn nhất đảo Santo Antonio là Nacional. Một vị thẩm phán có tên Joao Marques de Freitas nhanh chóng nhận ra tiềm năng của cậu bé, nên liên lạc với 1 chuyên gia săn tài năng trẻ của CLB Sporting Lisbon có tên là Aurelio. “Tôi gặp Ronaldo khi cậu ấy 11 tuổi”, De Freitas nhớ lại, “cha đỡ đầu của cậu ấy giới thiệu Ronaldo với tôi và nói rằng, cậu ấy là 1 cầu thủ rất giỏi. Tôi đã liên lạc với 1 người chuyên làm việc săn tài năng trẻ của Sporting và nói rằng có 1 đứa trẻ chơi bóng đá rất tuyệt vời. Nhưng ông ấy nói với tôi là Ronaldo còn quá nhỏ, và không thể đưa 1 đứa trẻ tới Sporting được. Tôi đã nói chuyện với mẹ của Ronaldo, 1 người khiêm tốn nhưng cũng rất nghèo. Bà ấy đồng ý cho tôi đưa Ronaldo đến Lisbon để gặp Aurelio”.



            </h4>

        </div>
    

</div>

        
    

