﻿@{
    ViewBag.Title = "Tin2";
    Layout = "~/Views/Shared/Default.cshtml";
}
<h1>Tin Tức</h1>
<h2>Tài năng trẻ của MU</h2>
<div class="tintuc">
    <div class="detail-img">
        <img src="~/images/a.jpg" />
    </div>
    <div class="detail">

        <h3>
            Nguồn tin của tờ Express cho hay, Manchester United hiện đang muốn đổi tiền vệ Ander Herrera lấy tài năng trẻ Xherdan Shaqiri của Bayern Munich. Thương vụ trao đổi này nhiều khả năng sẽ diễn ra trong kỳ chuyển nhượng mùa Đông sắp tới.
 
Man United vừa chiêu mộ Ander Herrera từ Athletic Bilbao trong kỳ chuyển nhượng mùa Hè vừa qua, với mức phí 28 triệu bảng. Tuy vậy, tiền vệ người Tây Ban Nha hoàn toàn không nằm trong kế hoạch của Louis Van Gaal. Anh vốn được cựu HLV của M.U là David Moyes đề xuất mua từ khi ông vẫn còn tại vị ở Old Trafford. Ở mùa bóng năm nay, Herrera mới chỉ ra sân 5 lần tại Premier League, và trong thời gian gần đây anh không được HLV Van Gaal trọng dụng bằng Marouane Fellaini cũng như Michael Carrick.
Việc Herrera liên tục phải ngồi dự bị trong những trận đấu vừa qua là bằng chứng cho thấy tiền vệ người Tây Ban Nha có thể sẽ phải “khăn gói” rời khỏi Old Trafford ngay trong tháng 1 tới. Anh sẽ được M.U sử dụng để trao đổi với Bayern Munich, bởi đội bóng Anh đang rất muốn chiêu mộ tài năng trẻ Xherdan Shaqiri.
 
Tại kỳ World Cup 2014 vừa qua, Shaqiri đã thi đấu rất xuất sắc, khi là một trong những cầu thủ có khả năng kiến tạo cơ hội tốt nhất của giải đấu này. Tuy vậy, tại Bayern Munich, Shaqiri vẫn chưa thể cạnh tranh được một suất đá chính. Mùa này, anh mới chỉ chơi 310 phút tại Bundesliga, trong đó chỉ có 3 lần ra sân trong đội hình xuất phát.
        </h3>
        
        
    </div>
</div>
