﻿@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Video</h2>
<h1>Bàn thắng muộn của Công Vinh</h1>
<div class="video-play">
    <video src="~/Video/a.mp4" controls preload="auto" />
</div>

