﻿@{
    ViewBag.Title = "her";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h1>Bàn thắng muộn của Công Vinh</h1>
<div class="tintuc">

       <div class="video-play">
    <video src="~/Video/a.mp4" controls preload="auto" />
</div>
    
</div>
