﻿body { padding:0;margin: 0 auto;font-family: Arial,Verdana;font-size:13px }
.head { width:auto;height: 119px}
.content-right{float: right; width:404px;height:613px;border: 1px solid #000000;background: #42a7a7}
.main{width:1150px;height:600px}
.item {width:280px; height:280px; float:left;text-align: center;margin:0px 30px 20px 30px;padding:0 10px}
.box-img{width: 250px; height:250px; margin: 0 auto}
.box-img img{ max-width:230px;max-height:230px;border:0}
.box-img img:hover {border: 1px solid #42a7a7}
.box-text a{color: #000000;text-decoration: none}
.box-text a:hover {color: red;text-decoration: none}
.box-imdb i {color: black}
.head-text g {color: black}
.head-text g:hover {color: red}
.content-right-box {width:300px;height:300px;padding:30px 10px 30px 10px;margin:0}
.content-right-text o{ color: black}
.detail {height:500px;width:1000px;margin:0 auto}
.tintuc {width:1000px;height:500px;border:0;padding:10px}
.detail-img {width:400px;height:400px;margin: 0 auto;float:left}
.detail-img img{max-height:500px;max-width:500px;border:0}
.content-bottom     { height: 146px; width: 1250px auto;  border: 0}
.footer             {min-height: 73px;width: 1250px auto; background: #d6d6d6; border: 0;text-align:center;bottom:auto}
.forum {width:800px;height:500px;padding:0 10px 0 10px;margin:0 100px;border:1px solid black}
.forum-box {width:700px; height:50px;padding:5px 0 5px 0;margin:0 auto}